@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
  /* background-color: black; */
  background: black url("background_Cielo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
main {
  /* background-color: black; */
  /* font-family: arial,sans-serif; */
  margin: 0px;
  padding: 0px;
}
*{
  font-family: Arial, Helvetica, sans-serif
}
h1 {
  color:rgb(255, 255, 255); 
  margin: auto; 
  padding-top: 15px; 
  text-align: center;
  font-style: italic;
}
form {
  width: 700px;
  padding: 10px;
  background-color:rgba(70, 142, 236, 0.7);
  display: block;
  margin: auto;
}
form fieldset {
  border-color: #05f821;
  padding: 20px;
  border-radius: 20px;
}
fieldset legend {
  font-size: 20px;
  color: #05f821;
  font-weight: bold;
}
footer {
  width: 100%;
  background-color:green;
  color:white; 
  text-align: center;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  bottom: 0;
  /* position: fixed; */
}
footer p {
  padding: 5px;
  margin: 0px;
}
label {
  color:black;
  display: block;
  font-weight: bold;
  margin-top: 15px;
  width: 90%;
  padding-left: 10px;
}
input {
  display: block; 
  height: 30px;
  /* margin-right: 10px; */
  padding-left: 15px;
  border-radius: 15px;
  font-size: 15px;
}
.btn-default {
  height: 40px;
  display: block;
  padding: 10px 20px;
  margin: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color:	#2A518E;/* rgb(42, 81, 142) */
}
.btn-default:hover {
  background: linear-gradient(400deg, rgb(255, 255, 255) 0%, rgb(0, 174, 239) 100%);/* #00AEEF */
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#charging {
  background: url("../img/gifs7.gif") no-repeat center center;
  /* background: black url("https://media.tenor.com/sZJLQEikRxIAAAAi/pvz-michael-jackson.gif") no-repeat center center; */
  background-size: 400px;
  width: 450px;
  height: 350px;
  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 1;
}
.classOptions {
  position: relative;
  width: 70%;
  min-width: 200px;
  /* min-height: 130px; */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font: bold 2em 'Century Gothic';
  text-transform: uppercase;
  margin: 30px auto;
  flex-wrap: wrap;

}
.classOptions::before, 
.classOptions::after {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  z-index: -1;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  animation: AnimarBorda 8s linear alternate infinite;
  border-radius: 8px;
  background-size: 300%;
}
.classOptions:after {
  filter: blur(50px);
}
@keyframes AnimarBorda {
  0% { background-position: 0; }
  100% { background-position: 300%; }
}
.btn-options {
  /* background-color: #2A518E; */
  color: white;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.formVerify {
  width: 100%;
  height: 100vh;        
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.formSOP {
  width: 100%;
  height: auto;        
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form3DS {
  width: 100%;
  height: auto;        
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formTransacao {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formCofre {
  width: 100%;
  height: auto;        
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-check {
  display: flex;
}
.form-check-label {
  margin: 7px 0px 0px 3px;
}
input#btnSend {
  margin-bottom: 5px;
}
.dadosCartao fieldset {
  width: 170px;
  height: 60px;
  border-color: black;
  margin: 25px 0 25px 0;
  padding: 0px 0px 10px 0px;
  background-color: rgba(255, 255, 2555, 0.6);
}
#idInfoCartao legend, 
.dadosCartao legend {
  color: black;
  font-weight: bold;
  font-size: 12pt;
}
.formaPagamento {
  height: 50px;
  display: flex;        
  justify-content:space-around
}
.formaPagamento label, 
.formaPagamento input {
    margin: auto;
    padding-left: 0px;
}
#fieldformapagto {
  border-color: black;
  width: 500px;
  height: 100px;
  background-color: rgba(255, 255, 2555, 0.5);
  margin: auto;
}
#fieldformapagto legend {
  color: black;
  font-weight: bold;
  font-size: 15pt;
}
#fieldformapagto img {
  width: auto;
  height: 70px;
  background-color: white;
  margin-top: 3px;
}
#fieldformapagto button {
  background: none;
  border: none;
  cursor: pointer;
}
#fieldformapagto button:hover {
  background: linear-gradient(10deg, rgba(2,126,251,1) 20%, rgb(224, 229, 102) 80%);
}
#fieldbandeira {
  width: 220px;
  height: 80px;
  padding: 10px;
  border-color: black;
  margin: 25px 0 25px 0;  
  /* padding: 0px 0px 10px 0px; */
  background-color: rgba(255, 255, 2555, 0.6);
}
#fieldbandeira legend {
  color: black;
  font-weight: bold;
  font-size: 12pt;
}
.tipoBandeira {
  /* width: auto; */
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
.tipoBandeira img {
  width: 60px;
  height: 40px;
  background-color: white;
}
.tipoBandeira label, 
.tipoBandeira input {
  margin: auto;
}
#fieldopcoesCofre {
  border-color: black;
  width: 500px;
  height: 100px;
  background-color: rgba(255, 255, 2555, 0.5);
  margin: auto;
}
#fieldopcoesCofre legend {
  color: black;
  font-weight: bold;
  font-size: 15pt;
}
#fieldopcoesCofre button {
  background: none;
  border: none;
  cursor: pointer;
}
#fieldopcoesCofre img {
  width: auto;
  height: 80px;
}
#fieldopcoesCofre img:hover {
  width: auto;
  height: 90px;
}
#fieldCriarToken,
#fieldConsultaToken {
  border-color: black;
}
#btn-consulta-token {
  width: 481px;
  display: flex;
  background-color: rgba(255, 255, 2555, 0.5);
  border-radius: 10px;
}
.metodo{
  width: auto;
  height: 50px;
  display: flex;        
  justify-content: space-around;
}
.metodo label, 
.metodo input {
  margin: auto;
  padding-left: 0px;
}
select {
  width: 180px;
  height: 30px;
  /* margin-left: 10px; */
  padding-left: 20px;
  border-radius: 10px;
}
textarea {
  padding: 5px 0px 0px 10px;
  margin-left: 10px;
}
/* #girarEixoY img {
  animation: eixoY 0.6s linear 1;
  position: fixed;
  bottom: 3%;
  left: 40%;
}
@keyframes eixoY {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */
.btn-excluir {
  background-color: rgb(42, 81, 142);
  color: white;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.965),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
.btn-excluir:hover {
  animation: exclusao 0.8s;
  background: linear-gradient(400deg, rgb(244, 243, 243) 20%, rgb(246, 2, 2) 80%);/*#00AEEF*/
  color: black;
  font-size: 17px;
  font-weight: bold;
}
@keyframes exclusao {
  0%,
  100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
}
.btn-rotate {
  background-color: rgb(42, 81, 142);
  color: white;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.965),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
.btn-rotate:hover {
  animation: rotate3d 1s;
  background: rgb(237, 245, 5);
}
@keyframes rotate3d {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.custom-btn-reactiv {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.965),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  margin: 15px;
  font-size: 16px;
}
.btn-reactiv {
  background-color: rgb(42, 81, 142);
  border: none;
  /* z-index: 1; */
}
.btn-reactiv:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  /* z-index: -1; */
  border-radius: 5px;
  background-color: #12f906ac;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.8s ease;
}
.btn-reactiv:hover {
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.btn-reactiv:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-reactiv:active {
  top: 2px;
}
.custom-btn-send {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.965),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-send {
  /* background: linear-gradient(300deg, rgba(0,172,238,1) 40%, rgba(2,126,251,1) 60%); */
  background-color:	#2A518E;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;  
}
.btn-send span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-send:before,
.btn-send:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  /* background: linear-gradient(300deg, rgba(0,172,238,1) 40%, rgba(2,126,251,1) 60%); */
  transition: all 0.3s ease;
}
.btn-send:before {
  height: 0%;
  width: 4px;
}
.btn-send:after {
  width: 0%;
  height: 4px;
}
.btn-send:hover {
  /* background: transparent; */
  /* background: rgba(255, 255, 255, 0.6); */
  box-shadow: none;
  background: linear-gradient(300deg, rgba(0,172,238,1) 40%, rgba(2,126,251,1) 60%);
}
.btn-send:hover:before {
  height: 100%;
}
.btn-send:hover:after {
  width: 100%;
}
.btn-send span:hover{
  color: rgb(251, 110, 2);
}
.btn-send span:before,
.btn-send span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(254, 254, 254);
  transition: all 0.3s ease;
}
.btn-send span:before {
  width: 2px;
  height: 0%;
}
.btn-send span:after {
  width: 0%;
  height: 2px;
}
.btn-send span:hover:before {
  height: 100%;
}
.btn-send span:hover:after {
  width: 100%;
}
.custom-btn-clear {
  width: 130px;
  height: 55px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  /* display: inline-block; */
  box-shadow:inset 2px 2px 2px 0px rgb(255, 255, 255),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-clear {
  background: #2A518E;
  border: none;
  z-index: 1;
}
.btn-clear:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  /* background-color: #00AEEF; */
  /* background-image: linear-gradient(315deg, #00AEEF 26%, #ffffff 74%); */
  background: linear-gradient(300deg, rgba(0,172,238,1) 40%, rgba(2,126,251,1) 60%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-clear:hover {
  color: #000;
}
.btn-clear:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-clear:active {
  top: 2px;
}
.classCreditCardExpiration input {
  float: left;
  margin-right: 5px;
}
#customerIdentityType {
  width: 120px;
  height: 24px;
  margin-right: 20px;
}
.retornos{
  background-color: rgba(255, 255, 2555, 0.5);
  border-radius: 10px;
  padding: 10px;
  line-height: 25px;
  margin-top: 20px;
}
#btnCopy {
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 2555, 0.5);
}
#btnCopy .txt-copy {
  display: none;
}
#btnCopy:hover {
  background: linear-gradient(10deg, rgba(2,126,251,1) 20%, rgb(224, 229, 102) 80%);
  width: 300px;
}
#btnCopy:hover .txt-original {
  display: none;
}
#btnCopy:hover .txt-copy {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;  
}
.txt-copy,
.txt-original,
.txt-img{
  vertical-align: middle;
  font-size: 20px;
}
#btnCopy img {
  width:25px;
}
.respPix {
  /* display: flex; */
  justify-content: space-around;
}
#respostaSalesQrCodeString,
#respostaSalesQrCodeBase64Image {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
#respostaSalesQrCodeBase64Image img {
  width: 150px;
  margin: 0 auto;
}
.respBoleto {
  /* display: flex; */
  justify-content: space-around;
}
#respostaSalesBoletoChave,
#respostaSalesBoletoAbrir {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#respostaSalesBoletoAbrir img {
  vertical-align: middle;
  width: 70px;
}
#alertCopy {
  display: none;
}
#alertCopy img{
  width: 200px;
  animation: rotateCopy 0.5s linear 1;/*rotateCopy= nome da animação; 0.5s= tempo para cumprir a rotação ou animação; alternate/liner= alterna o fluxo da animação/mantem direção; infinite/1= quantidade de ciclos*/
  position: fixed;
  bottom: 3%;
  left: 45%;
  /* background-color: #05f821; */
}
@keyframes rotateCopy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#alertError {
  display: none;
  width: 300px;
  position: fixed;
  bottom: 30%;
  left: 50%;
  font-size: 15pt;
  background-color: rgba(255, 255, 2555, 0.7);
  text-align: center;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  z-index: 1;
}
#confirmarAcao {
  display: none;
  width: 400px;
  height: 230px;
  position: fixed;
  top: 35%;
  left: 33%;
  font-size: 15pt;
  background-color: rgb(31, 181, 229);
  text-align: center;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  z-index: 1;
}
#confirmarAcao label,
#alertExclusao label {
  margin: auto;
  margin-top: 10px;
  color: white;
  padding: 0px;
}
#confirmarAcao select {
  width: 200px;
  margin-top: 10px;
  font-size: 12pt;
}
#confirmarAcao button,
#alertExclusao button{
  width: 100px;
  height: 30px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13pt;
}
#alertExclusao {
  display: none;
  width: 400px;
  height: 230px;
  position: fixed;
  top: 35%;
  left: 33%;
  font-size: 15pt;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20px;
  z-index: 1;
}


/* Estilo base para o elemento ------------ NÃO ESTÁ EM USO --------------------*/
#element {
  position: absolute; /* Necessário para posicionar pseudoelementos */
  bottom: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  /* background-color: #000; */
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* Pseudoelemento que criará o efeito de borda animada */
#element::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 200%;
  background: linear-gradient(180deg, #07e2f1, #eb9b05); /* Gradiente para a animação */
  animation: AnimarBorda2 3s linear infinite; /* Chama a animação */
}
/* Pseudoelemento para criar a borda interna e esconder a animação onde não é visível */
#element::after {
  content: "";
  position: absolute;
  background-color: #000; /* Cor do fundo do elemento principal */
  inset: 5px; /* Posição para criar a borda interna */
  border-radius: inherit; /* Herda o border-radius do elemento pai */
}
@keyframes AnimarBorda2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/* ------------- Elemento ------------ NÃO ESTÁ EM USO --------------------*/
